<div class="row">
  <h5 class="col">Welcome!</h5>
</div>

<div class="row leftMargin">
  <blockquote class=" col s11">
    This is your first run of this application or your configuration is broken. Did you set a password?
    For run this application needs jira-config.json (more information is in the README.md file). Do you have one? If yes, please check if this file is application directory.
    If you do not have this file please set this fields. If you have problem with application simply use ctrl+r for reload.
  </blockquote>
</div>

<app-settings></app-settings>
