<div class="row">
  <h5 class="col">Issue assigned to you</h5>
</div>

<div style="position: relative; z-index: 1000">
  <div *ngIf="isStarted" class="chip  blue timer" [ngClass]="isPause?'':'pulse'">
    {{startedIssue}} - {{hours}}:{{minutes}}:{{seconds}}
  </div>
</div>

<app-message (click)="isBreak=false" [visible]="isBreak" message="Time for break!"></app-message>
<app-message (click)="pauseTimeout=false" [visible]="pauseTimeout" message="Pause is over, lets work"></app-message>

<div class="row leftMargin" *ngIf="isReadyList">
  <blockquote class=" col s11">
    Select an issue in project: <i>{{applicationConfig.project}}</i> and start timer
  </blockquote>
</div>

<div class="row leftMargin" style="margin-right: 25px">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let issue of issues">
      <div class="collapsible-header" (click)="showIssueDetails(issue.key)">
        <img [src]="issue.fields.priority.iconUrl"/>
        &nbsp;
        <img [src]="issue.fields.issuetype.iconUrl"/>
        &nbsp;{{issue.fields.summary}}
        <span class="badge">{{issue.key}}</span>
      </div>
      <div class="collapsible-body">
        <div style="margin-top:-35px">
          <div *ngIf="!currentIssueComments" class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
        <div class="row" style="margin-top:1em;">
          <div class="col s8 valign-wrapper">
            <i class="material-icons" style="color: #e0e0e0">account_box</i>&nbsp;Reporter:
            {{issue.fields.reporter.displayName}}
          </div>
          <!-- actions -->
          <div class="col s4" style="text-align: right">
            <a *ngIf="isStarted && issue.key === startedIssue"
               class="waves-effect waves-light btn scale-transition yellow"
               (click)="onPause()">
              <i *ngIf="isPause" class="material-icons">play_arrow</i>
              <i *ngIf="!isPause" class="material-icons">pause</i>
            </a>
            <a *ngIf="isStarted && issue.key === startedIssue" class="waves-effect waves-light btn red"
               (click)="stopTimerOnIssue()">
              <i class="material-icons">stop</i>
            </a>
            <a *ngIf="!isStarted" class="waves-effect waves-light btn scale-transition"
               (click)="startTimerOnIssue(issue.key)">
              <i class="material-icons">play_arrow</i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="card-panel" *ngIf="currentIssueDescription">
            <span class=""><i class="material-icons">format_quote</i>
              <p [innerHTML]="currentIssueDescription"></p></span>
          </div>
        </div>

        <!-- comments -->
        <div class="row" *ngIf="currentIssueComments">
          <ul class="collection">
            <li class="collection-item avatar" *ngFor="let comment of currentIssueComments">
              <img [src]="comment.author.avatarUrls['48x48']" alt="" class="circle">
              <span class="title">{{comment.author.displayName}}</span>
              <p> {{comment.created | date: 'dd-MM-yyyy HH:MM:ss'}}<br>
                {{comment.body}}
              </p>
              <span *ngIf="comment.visibility" class="secondary-content">
                <i class="material-icons blue-grey-text">lock</i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
<br/><br/><br/>
<app-loader *ngIf="!isReadyList"></app-loader>


