<div class="row">
  <div class="input-field col s12">
    <input [(ngModel)]="applicationConfig.url" id="jiraUrl" type="text" class="validate"/>
    <label for="jiraUrl">Jira address URL</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s5">
    <input [(ngModel)]="applicationConfig.username" id="emailField" type="email" class="validate">
    <label for="emailField">Email</label>
  </div>
  <div class="input-field col s5">
    <input autofocus [(ngModel)]="applicationConfig.password" (keyup.enter)="onSave()"
           id="password" type="password" class="validate">
    <label for="password">Password</label>
  </div>
  <div class="input-field col s2">
    <div class="switch">
      <label>
        <input [(ngModel)]="applicationConfig.rememberPassword" type="checkbox">
        <span class="lever"></span>
        remember
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="input-field col s5">
    <input [(ngModel)]="applicationConfig.removeFromComment" type="text" id="removeFromComment" class="validate">
    <label for="removeFromComment">Remove from log work comment regexp</label>
  </div>
  <div class="input-field col s7">
    <input [(ngModel)]="applicationConfig.minLogRatio" id="minLogRatio" type="number" class="validate">
    <label for="minLogRatio">Min accetable level of work log for day (%)</label>
  </div>
</div>

<!-- team -->
<div class="row">
  <div class="input-field col s3">
    <input [(ngModel)]="teamMember" type="email" id="teamMember" class="validate">
    <label for="teamMember">Team member (mail)</label>
  </div>
  <div class="input-field col s1" style="align: left">
    <a class="waves-effect waves-light" style="color: gray" (click)="addTeamMember()">
      <i class="material-icons left" style="margin-right: 0">add</i>
    </a>&nbsp;
  </div>
  <div class="input-field col s8">
    <div *ngFor="let member of applicationConfig.teamMembers " class="chip">
      {{member}}
      <i (click)="removeTeamMember(member)" class="close material-icons">close</i>
    </div>
  </div>
</div>

<!-- projects -->
<div class="row">
  <div class="input-field col s3">
    <input [(ngModel)]="projectToAdd" type="text" id="project" class="validate">
    <label for="project">Project name</label>
  </div>
  <div class="input-field col s1" style="align: left">
    <a class="waves-effect waves-light" style="color: gray" (click)="addProject()">
      <i class="material-icons left" style="margin-right: 0">add</i>
    </a>&nbsp;
  </div>
  <div class="input-field col s8">
    <div *ngFor="let project of applicationConfig.allProjects " class="chip">
      {{project}}
      <i (click)="removeProject(project)" class="close material-icons">close</i>
    </div>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <select id="selectedProject" materialize="material_select" [materializeSelectOptions]="applicationConfig.project"
            [(ngModel)]="applicationConfig.project">
      <option class="row" *ngFor="let project of applicationConfig.allProjects" [value]="project">
        {{project}}
      </option>
    </select>
    <label for="selectedProject">Active project</label>
  </div>
</div>
<div class="row">
  <a class="col s2 offset-s9 waves-effect waves-light btn" (click)="onSave()">
    save<i class="material-icons left" style="margin-right: 0">check</i>
  </a>&nbsp;
</div>
