<div class="fixed-action-btn vertical click-to-toggle">
  <a class="btn-floating btn-large red hoverable">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating teal tooltipped" data-position="left" data-delay="50" data-tooltip="Add log work"
         (click)="addComment()">
        <i class="material-icons ">message</i>
      </a>
    </li>
    <li>
      <a class="btn-floating teal tooltipped" (click)="refreshHistory()" data-position="left" data-delay="50"
         data-tooltip="Refresh history">
        <i class="material-icons">replay</i>
      </a></li>
  </ul>
</div>

<!-- Add comment modal Structure -->
<div id="addIssueModal" style="  overflow: visible;" class="modal bottom-sheet" materialize="modal"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <div class="col s8">
        <h4>Log your work</h4>
      </div>
      <div class="col s2">
        <input materialize="pickadate" [materializeParams]="[logWorkDateParams]" [(ngModel)]="logWorkDate" type="date"
               class="datepicker">
      </div>
      <div class="col s2">
        <div class="switch">
          <label>
            <input id="logDate" style="width: 100px" [(ngModel)]="onlyMyIssue" (change)="clearCustomIssueName()"
                   type="checkbox">
            <span class="lever"></span>
            <label for="logDate">&nbsp;my&nbsp;issue</label>
          </label>
        </div>
      </div>
    </div>

    <div class="row" style="min-height: 80px">
      <!-- Not estimated icon -->
      <div class="col s1" style="width:30px">
        <div class="valign-wrapper">
          <h5><i title="Not estimated" [hidden]="estimated" class="red-text material-icons ">warning</i></h5>
        </div>
      </div>

      <!-- Project name -->
      <div [hidden]="onlyMyIssue" class="col s2">
        <div class="valign-wrapper" style="">
          <h5 style="margin-left: auto; margin-right: 0">{{applicationConfig.project}}-</h5>
        </div>
      </div>
      <div [hidden]="onlyMyIssue" class="col s7">
        <input placeholder="issue" [(ngModel)]="selectedIssue" id="customIssue" (blur)="getIssueTitle()">
        <label for="customIssue">&nbsp;{{customIssueName}}</label>
      </div>

      <div [hidden]="!onlyMyIssue" class="col s9">
        <select materialize="material_select" placeholder="issue" (change)="validateForm()"
                [materializeSelectOptions]="issues"
                [(ngModel)]="selectedIssue">
          <option class="row" [value]=""></option>
          <option class="row" *ngFor="let issue of issues" [value]="issue.key">
            {{issue.key}} {{issue.fields.summary }}
          </option>
        </select>
      </div>

      <!-- work time -->
      <div class="col s2">
        <input placeholder="Work time" id="workTime" (blur)="validateForm()" (keyup)="validateForm()"
               [(ngModel)]="workTime" type="text">
      </div>
    </div>

    <!-- comment -->
    <div class="row">
      <div class="col s12">
        <input placeholder="comment" (keyup)="checkField()" (blur)="validateForm()" [(ngModel)]="comment" type="text">
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="modal-footer right-align">
    <button md-button (click)="closeCommentModal()">Cancel</button>
    <button md-button (click)="logWork()" [disabled]='!isFormValid'>Ok</button>
  </div>
</div>
