<header>
  <nav>
    <div class="nav-wrapper blue lighten-1">
      <img src="./logo.svg" width="60px"/>
      <a class="brand-logo blue lighten-1">jiraLogger<sub class="indigo-text lighten-5-text"
                                                          style="font-style: italic">beta</sub></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:10px">
        <li><a (click)="showAbout()">About</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- About modal -->
<div id="aboutModal" style="  overflow: visible;" class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <h4>jiraLogger<sub>0.0.1</sub></h4>
    </div>
    <div class="row">
      <blockquote class="col s12">
        Application for log time of your work in Jira.
        Author: kamil.lolo@mail.com
      </blockquote>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeAbout()">Ok</a>
  </div>
</div>

<app-onboarding *ngIf="firstRun"></app-onboarding>

<main *ngIf="!firstRun" class="main content">
  <ul id="tabs-swipe-demo" class="tabs ">
    <li class="tab col s3"><a href="#test-swipe-1">My issues</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">History</a></li>
    <li class="tab col s3"><a href="#test-swipe-4">Favourites</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Settings</a></li>
  </ul>

  <div id="test-swipe-1" class="col s12">
    <app-issues *ngIf="!firstRun"></app-issues>
  </div>

  <div id="test-swipe-2" class="col s12">
    <app-history></app-history>
  </div>

  <div id="test-swipe-3" class="col s12">
    <div class="row">
      <h5 class="col s12">Application configuration</h5>
    </div>
    <div class="row">
      <blockquote class=" offset-s1  col s11">
        Do not forget to save your data. All data will be loaded from <i>{{applicationConfig.configFile}}</i>
      </blockquote>
    </div>
    <app-settings></app-settings>
  </div>

  <div id="test-swipe-4" class="col s12">
    <app-favorites></app-favorites>
  </div>
</main>

<app-actions *ngIf="!firstRun"></app-actions>
