<div class="row">
  <h5 class="col">Most often logged issues</h5>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <li *ngFor="let issue of issues; let firstElement = first">
    <div [class.active]="firstElement" class="collapsible-header active">
      <span class="badge">todo</span>
      todo
    </div>

    <div class="collapsible-body"> todo</div>
  </li>
</ul>

<div  class="row leftMargin empty-info" style="margin-right: 25px">
  <i class="material-icons">new_releases</i> Your history is empty
</div>
