.messageContent {
  position: fixed;
  left: 0;
  top: -100px;
  z-index: 10001;
  width: 100vw;
  height: 150vh;
  font-size: 3em;
  background-color: rgba(33, 33, 33, 0.5);
  color: #e0e0e0;
  text-align: center;
  vertical-align: middle;
}
