<div class="row">
  <h5 class="col">Your log work history</h5>
</div>

<div class="row" style="margin-left: 20px;">
  <div class="col s3 valign-wrapper">
    <span style="padding-top: 0.5em">Show history for:</span>
  </div>
  <div class="col s7" style="text-align: left">
    <select materialize="material_select" placeholder="issue" (change)="onTeamMemberChange()"
            [materializeSelectOptions]="selectedUser" [(ngModel)]="selectedTeamMember">
      <option class="row" *ngFor="let teamMember of teamMembers" [value]="teamMember">
        {{teamMember}}
      </option>
    </select>
  </div>
  <div class="col s2" style="text-align: center">
    <img height="48px" style="border-radius: 50%;" [hidden]="!foundAnyLoggedTask" [src]="currentUserAvatarUrl"/>
    <img height="48px" [hidden]="foundAnyLoggedTask"
         src="https://jira.comarch.pl/jira/secure/useravatar?avatarId=10122"/>
  </div>
</div>

<div [hidden]="foundAnyLoggedTask" class="row leftMargin empty-info" style="margin-right: 25px">
  <i class="material-icons">new_releases</i> No logged task found
</div>

<div [hidden]="!foundAnyLoggedTask" class="row leftMargin" style="margin-right: 25px">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let currentWorkLog of history; let firstElement = first">
      <div [class.active]="firstElement" class="collapsible-header active">
        <span class="badge">{{currentWorkLog.progress | number: '2.1'}}%</span>
        <i class="material-icons" [ngClass]="getIconColor(currentWorkLog.progress)">{{getIconName(currentWorkLog.progress)}}</i>
        {{ currentWorkLog.date | date: 'dd-MM-yyyy' }} ({{currentWorkLog.totalMinutesTime | minutesToTime}})
      </div>

      <div class="collapsible-body">
        <!-- Empty log work -->
        <div class="row" *ngIf="!currentWorkLog.issues || currentWorkLog.issues.length === 0">
          <div style="text-align:right" class="blue-grey-text darken-3-text tab col s5">
            <i class="material-icons">new_releases</i>
          </div>
          <div class="blue-grey-text darken-3-text tab col s7">
            <b>You did not log anything</b>
          </div>
        </div>
        <!-- normal log work -->
        <div class="row" *ngIf="currentWorkLog.issues && currentWorkLog.issues.length !== 0">
          <div class="tab col s12 progress">
            <div class="determinate" [style.width.%]="currentWorkLog.progress"></div>
          </div>
        </div>
        <div class="row" *ngFor="let issue of currentWorkLog.issues">
          <div class="tab col s2" [title]="issue.fields.issuetype.name">
            <img [src]="issue.fields.issuetype.iconUrl"/> &nbsp;{{issue.key}}
          </div>
          <div class="tab col s5">{{issue.fields.summary}}</div>
          <div class="tab col s1">{{issue.timeSpend | minutesToTime}}</div>
          <div class="tab col s4">
             <span class="blue-grey-text darken-3-text" *ngIf="!issue.comment || issue.comment.length === 0">
              Empty comment
            </span>
            <div class="blue-grey-text darken-3-text" *ngFor="let comment of issue.comment">
              {{comment}}
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<br/><br/><br/>

