/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/sass/components/color"; /* This must be included to use the included variables and the color function */
$primary-color: color('blue', 'base');
$secondary-color: color('blue', 'lighten-1');

$roboto-font-path: "~materialize-css/fonts/roboto/"; /* This is needed so the materialize.scss file can load the font */
@import "~materialize-css/sass/materialize";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.leftMargin {
  margin-left: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #fefefe;
}

main {
  flex: 1 0 auto;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 50px;
  width: 50px;
}

.empty-info {
  font-size: 3em;
  color: #e0e0e0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}

